
<h3 class="report-class"> {{user}}'s Response </h3>

<table class="table text-center" id="tableID" >
    <thead>
      <tr>
        <th>Question</th>
        <th>Your Response</th>
        <th>Correct Answer</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="question in questions">
        <td>{{question.que}}</td>
        <td>{{question.options[question.response]}}</td>
        <td>{{question.options[question.correct]}}</td>
      </tr>
      
    </tbody>
  </table>

    <md-button ng-click="homepage()" class="md-raised md-warn" >Take Quiz Again</md-button>
